In [2]:
import requests
import pandas as pd

In [3]:
key = "4dd05398874a3f0c4f32e74f4c0fa269655cf923"

In [4]:
requests.get("https://api.census.gov/data/2023/acs/acs1/profile?get=NAME&for=urban%20area:*"+key)

In [4]:
urbanAreas = requests.get("https://api.census.gov/data/2023/acs/acs1/profile?get=NAME&for=urban%20area:*")

cities = urbanAreas.json()
cityDF = pd.DataFrame(cities)
cityDF.to_csv('apiCity.csv', index=False)

In [5]:
urban_areas_df = pd.read_csv('../datasets/capstoneData.csv', dtype={'CensusCode': str})
codes = urban_areas_df.iloc[:, 3]
codes

0     02305
1     40780
2     07786
3     50392
4     69184
      ...
95    83764
96    53200
97    57466
98    15481
99    16237
Name: CensusCode, Length: 100, dtype: object

In [6]:
populations = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K200101_001E&for=urban%20area:{i}&key={key}")
    
    if response.status_code == 200:  # Check if the request was successful
        data = response.json()
        value = data[1][1]
        populations.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        populations.append(None)

# Add the population data as a new column in the DataFrame
urban_areas_df['Population'] = populations

# Save the updated DataFrame back to a CSV file
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)

# Optionally, check the DataFrame to see the new column
print(urban_areas_df.head())

          City     State StateCode CensusCode Population
0    Anchorage    Alaska        AK      02305     245624
1   Huntsville   Alabama        AL      40780     359389
2   Birmingham   Alabama        AL      07786     778756
3  Little Rock  Arkansas        AR      50392     467846
4      Phoenix   Arizona        AZ      69184    4065338

In [7]:
geographicMobility = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K200701_002E&for=urban%20area:{i}&key={key}")
    
    if response.status_code == 200:  # Check if the request was successful
        data = response.json()
        value = data[1][1] 
        geographicMobility.append(value)
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        geographicMobility.append(None)  # Append None if there was an error for this code

#Add the population data as a new column in the DataFrame
urban_areas_df['sameHouse1yr'] = geographicMobility

# Save the updated DataFrame back to a CSV file
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)

# Optionally, check the DataFrame to see the new column
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

In [38]:
urban_areas_df

,City,State,StateCode,CensusCode,Population,sameHouse1yr,transportCar,publicTransport,medianIncome,employment,...,asian,twoPlusRaces,hispanic,foreignBorn,commuteless10,commute10to29,commute30to59,commute60plus,counttraveltime,congressionalDistrict
0,Anchorage,Alaska,AK,02305,245624,197589,94067,94067,90793,140198,...,26005,38395,25756,28937,19823,84951,11257,3527,119558,None
1,Huntsville,Alabama,AL,40780,359389,301448,139891,139891,86901,194391,...,10440,27089,25649,19226,16968,103726,33353,2943,156990,None
2,Birmingham,Alabama,AL,07786,778756,669858,285726,285726,69947,390541,...,17417,43215,46456,43670,26348,186453,98851,17586,329238,None
3,Little Rock,Arkansas,AR,50392,467846,409973,165697,165697,62478,230250,...,10477,41796,42884,29593,22448,113992,50669,6874,193983,None
4,Phoenix,Arizona,AZ,69184,4065338,3457480,1332557,1332557,85268,2154287,...,200435,746879,1179791,580970,161734,863670,519616,96634,1641654,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Spokane,Washington,WA,83764,458988,386753,154895,154895,72510,235552,...,12141,40180,35360,29352,21288,119410,39488,8274,188460,None
96,Madison,Wisconsin,WI,53200,460255,360680,166930,166930,79296,276768,...,32171,42268,42107,46502,29698,140139,42079,5526,217442,None
97,Milwaukee,Wisconsin,WI,57466,1290221,1129593,462353,462353,72261,679838,...,64674,145026,180944,118675,66110,338003,127520,22106,553739,None
98,Charleston,West Virginia,WV,15481,133045,121105,44132,44132,55653,63008,...,2139,10112,2332,2730,7257,34833,6377,3250,51717,None
99,Cheyenne,Wyoming,WY,16237,81378,69092,32748,32748,66658,43406,...,1323,10025,14522,2693,7334,26548,2521,1243,37646,None

In [8]:
car = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K200801_002E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200:  # Check if the request was successful
        data = response.json()
        value = data[1][1] 
        #print(value) # Access the second list, then the second element (the population)
        car.append(value)  # Add the population to the list
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        car.append(None)  # Append None if there was an error for this code

#Add the population data as a new column in the DataFrame
urban_areas_df['transportCar'] = car

# Save the updated DataFrame back to a CSV file
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)

# Optionally, check the DataFrame to see the new column
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar
0        94067
1       139891
2       285726
3       165697
4      1332557

In [9]:
publicTransport = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K200801_002E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        publicTransport.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        publicTransport.append(None)
urban_areas_df['publicTransport'] = publicTransport
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport
0        94067           94067
1       139891          139891
2       285726          285726
3       165697          165697
4      1332557         1332557

In [10]:
medianHouseholdIncome = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K201902_001E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        medianHouseholdIncome.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        medianHouseholdIncome.append(None)
urban_areas_df['medianIncome'] = medianHouseholdIncome
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome
0        94067           94067        90793
1       139891          139891        86901
2       285726          285726        69947
3       165697          165697        62478
4      1332557         1332557        85268

In [11]:
employment = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202301_002E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        employment.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        employment.append(None)
urban_areas_df['employment'] = employment
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment
0        94067           94067        90793     140198
1       139891          139891        86901     194391
2       285726          285726        69947     390541
3       165697          165697        62478     230250
4      1332557         1332557        85268    2154287

In [14]:
rent = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202502_003E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        rent.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        rent.append(None)
urban_areas_df['rent'] = rent
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment    rent
0        94067           94067        90793     140198   37984
1       139891          139891        86901     194391   51035
2       285726          285726        69947     390541  110597
3       165697          165697        62478     230250   78957
4      1332557         1332557        85268    2154287  561892

In [16]:
own = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202502_002E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        own.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        own.append(None)
urban_areas_df['own'] = own
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment    rent      own
0        94067           94067        90793     140198   37984    56899
1       139891          139891        86901     194391   51035    96625
2       285726          285726        69947     390541  110597   207244
3       165697          165697        62478     230250   78957   116348
4      1332557         1332557        85268    2154287  561892  1024981

In [17]:
housingTenure = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202502_001E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        housingTenure.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        housingTenure.append(None)
urban_areas_df['housingTenure'] = housingTenure
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment    rent      own  \
0        94067           94067        90793     140198   37984    56899
1       139891          139891        86901     194391   51035    96625
2       285726          285726        69947     390541  110597   207244
3       165697          165697        62478     230250   78957   116348
4      1332557         1332557        85268    2154287  561892  1024981

  housingTenure
0         94883
1        147660
2        317841
3        195305
4       1586873

In [19]:
medianValue = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202510_001E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        medianValue.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        medianValue.append(None)
urban_areas_df['medianValue'] = medianValue
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment    rent      own  \
0        94067           94067        90793     140198   37984    56899
1       139891          139891        86901     194391   51035    96625
2       285726          285726        69947     390541  110597   207244
3       165697          165697        62478     230250   78957   116348
4      1332557         1332557        85268    2154287  561892  1024981

  housingTenure medianValue
0         94883      373200
1        147660      326700
2        317841      278700
3        195305      216200
4       1586873      467000

In [21]:
medianRent = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202511_001E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        medianRent.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        medianValue.append(None)
urban_areas_df['medianRent'] = medianRent
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment    rent      own  \
0        94067           94067        90793     140198   37984    56899
1       139891          139891        86901     194391   51035    96625
2       285726          285726        69947     390541  110597   207244
3       165697          165697        62478     230250   78957   116348
4      1332557         1332557        85268    2154287  561892  1024981

  housingTenure medianValue medianRent
0         94883      373200       1473
1        147660      326700       1291
2        317841      278700       1208
3        195305      216200       1063
4       1586873      467000       1754

In [23]:
white = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K200201_002E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        white.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        white.append(None)
urban_areas_df['white'] = white
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment    rent      own  \
0        94067           94067        90793     140198   37984    56899
1       139891          139891        86901     194391   51035    96625
2       285726          285726        69947     390541  110597   207244
3       165697          165697        62478     230250   78957   116348
4      1332557         1332557        85268    2154287  561892  1024981

  housingTenure medianValue medianRent    white
0         94883      373200       1473   130397
1        147660      326700       1291   216895
2        317841      278700       1208   400215
3        195305      216200       1063   256905
4       1586873      467000       1754  2445320

In [24]:
black = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K200201_003E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        black.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        black.append(None)
urban_areas_df['black'] = black
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment    rent      own  \
0        94067           94067        90793     140198   37984    56899
1       139891          139891        86901     194391   51035    96625
2       285726          285726        69947     390541  110597   207244
3       165697          165697        62478     230250   78957   116348
4      1332557         1332557        85268    2154287  561892  1024981

  housingTenure medianValue medianRent    white   black
0         94883      373200       1473   130397   13071
1        147660      326700       1291   216895   92897
2        317841      278700       1208   400215  298319
3        195305      216200       1063   256905  143785
4       1586873      467000       1754  2445320  228098

In [25]:
asian = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K200201_005E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        asian.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        asian.append(None)
urban_areas_df['asian'] = asian
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment    rent      own  \
0        94067           94067        90793     140198   37984    56899
1       139891          139891        86901     194391   51035    96625
2       285726          285726        69947     390541  110597   207244
3       165697          165697        62478     230250   78957   116348
4      1332557         1332557        85268    2154287  561892  1024981

  housingTenure medianValue medianRent    white   black   asian
0         94883      373200       1473   130397   13071   26005
1        147660      326700       1291   216895   92897   10440
2        317841      278700       1208   400215  298319   17417
3        195305      216200       1063   256905  143785   10477
4       1586873      467000       1754  2445320  228098  200435

In [26]:
twoPlusRaces = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K200201_008E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        twoPlusRaces.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        twoPlusRaces.append(None)
urban_areas_df['twoPlusRaces'] = twoPlusRaces
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment    rent      own  \
0        94067           94067        90793     140198   37984    56899
1       139891          139891        86901     194391   51035    96625
2       285726          285726        69947     390541  110597   207244
3       165697          165697        62478     230250   78957   116348
4      1332557         1332557        85268    2154287  561892  1024981

  housingTenure medianValue medianRent    white   black   asian twoPlusRaces
0         94883      373200       1473   130397   13071   26005        38395
1        147660      326700       1291   216895   92897   10440        27089
2        317841      278700       1208   400215  298319   17417        43215
3        195305      216200       1063   256905  143785   10477        41796
4       1586873      467000       1754  2445320  228098  200435       746879

In [27]:
hispanic = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K200301_003E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        hispanic.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        hispanic.append(None)
urban_areas_df['hispanic'] = hispanic
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment    rent      own  \
0        94067           94067        90793     140198   37984    56899
1       139891          139891        86901     194391   51035    96625
2       285726          285726        69947     390541  110597   207244
3       165697          165697        62478     230250   78957   116348
4      1332557         1332557        85268    2154287  561892  1024981

  housingTenure medianValue medianRent    white   black   asian twoPlusRaces  \
0         94883      373200       1473   130397   13071   26005        38395
1        147660      326700       1291   216895   92897   10440        27089
2        317841      278700       1208   400215  298319   17417        43215
3        195305      216200       1063   256905  143785   10477        41796
4       1586873      467000       1754  2445320  228098  200435       746879

  hispanic
0    25756
1    25649
2    46456
3    42884
4  1179791

In [28]:
foreignBorn = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K200503_006E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        foreignBorn.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        foreignBorn.append(None)
urban_areas_df['foreignBorn'] = foreignBorn
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ...      own  \
0        94067           94067        90793     140198  ...    56899
1       139891          139891        86901     194391  ...    96625
2       285726          285726        69947     390541  ...   207244
3       165697          165697        62478     230250  ...   116348
4      1332557         1332557        85268    2154287  ...  1024981

  housingTenure medianValue medianRent    white   black   asian twoPlusRaces  \
0         94883      373200       1473   130397   13071   26005        38395
1        147660      326700       1291   216895   92897   10440        27089
2        317841      278700       1208   400215  298319   17417        43215
3        195305      216200       1063   256905  143785   10477        41796
4       1586873      467000       1754  2445320  228098  200435       746879

  hispanic foreignBorn
0    25756       28937
1    25649       19226
2    46456       43670
3    42884       29593
4  1179791      580970

[5 rows x 21 columns]

In [30]:
commuteless10 = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K200802_002E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        commuteless10.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        commuteless10.append(None)
urban_areas_df['commuteless10'] = commuteless10
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ... housingTenure  \
0        94067           94067        90793     140198  ...         94883
1       139891          139891        86901     194391  ...        147660
2       285726          285726        69947     390541  ...        317841
3       165697          165697        62478     230250  ...        195305
4      1332557         1332557        85268    2154287  ...       1586873

  medianValue medianRent    white   black   asian twoPlusRaces hispanic  \
0      373200       1473   130397   13071   26005        38395    25756
1      326700       1291   216895   92897   10440        27089    25649
2      278700       1208   400215  298319   17417        43215    46456
3      216200       1063   256905  143785   10477        41796    42884
4      467000       1754  2445320  228098  200435       746879  1179791

  foreignBorn commuteless10
0       28937         19823
1       19226         16968
2       43670         26348
3       29593         22448
4      580970        161734

[5 rows x 22 columns]

In [31]:
commute10to29 = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K200802_003E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        commute10to29.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        commute10to29.append(None)
urban_areas_df['commute10to29'] = commute10to29
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ... medianValue  \
0        94067           94067        90793     140198  ...      373200
1       139891          139891        86901     194391  ...      326700
2       285726          285726        69947     390541  ...      278700
3       165697          165697        62478     230250  ...      216200
4      1332557         1332557        85268    2154287  ...      467000

  medianRent    white   black   asian twoPlusRaces hispanic foreignBorn  \
0       1473   130397   13071   26005        38395    25756       28937
1       1291   216895   92897   10440        27089    25649       19226
2       1208   400215  298319   17417        43215    46456       43670
3       1063   256905  143785   10477        41796    42884       29593
4       1754  2445320  228098  200435       746879  1179791      580970

  commuteless10 commute10to29
0         19823         84951
1         16968        103726
2         26348        186453
3         22448        113992
4        161734        863670

[5 rows x 23 columns]

In [32]:
commute30to59 = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K200802_004E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        commute30to59.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        commute30to59.append(None)
urban_areas_df['commute30to59'] = commute30to59
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ... medianRent  \
0        94067           94067        90793     140198  ...       1473
1       139891          139891        86901     194391  ...       1291
2       285726          285726        69947     390541  ...       1208
3       165697          165697        62478     230250  ...       1063
4      1332557         1332557        85268    2154287  ...       1754

     white   black   asian twoPlusRaces hispanic foreignBorn commuteless10  \
0   130397   13071   26005        38395    25756       28937         19823
1   216895   92897   10440        27089    25649       19226         16968
2   400215  298319   17417        43215    46456       43670         26348
3   256905  143785   10477        41796    42884       29593         22448
4  2445320  228098  200435       746879  1179791      580970        161734

  commute10to29 commute30to59
0         84951         11257
1        103726         33353
2        186453         98851
3        113992         50669
4        863670        519616

[5 rows x 24 columns]

In [33]:
commute60plus = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K200802_005E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        commute60plus.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        commute60plus.append(None)
urban_areas_df['commute60plus'] = commute60plus
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ...    white   black  \
0        94067           94067        90793     140198  ...   130397   13071
1       139891          139891        86901     194391  ...   216895   92897
2       285726          285726        69947     390541  ...   400215  298319
3       165697          165697        62478     230250  ...   256905  143785
4      1332557         1332557        85268    2154287  ...  2445320  228098

    asian twoPlusRaces hispanic foreignBorn commuteless10 commute10to29  \
0   26005        38395    25756       28937         19823         84951
1   10440        27089    25649       19226         16968        103726
2   17417        43215    46456       43670         26348        186453
3   10477        41796    42884       29593         22448        113992
4  200435       746879  1179791      580970        161734        863670

  commute30to59 commute60plus
0         11257          3527
1         33353          2943
2         98851         17586
3         50669          6874
4        519616         96634

[5 rows x 25 columns]

In [35]:
counttraveltime = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K200802_001E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        counttraveltime.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        counttraveltime.append(None)
urban_areas_df['counttraveltime'] = counttraveltime
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ...   black   asian  \
0        94067           94067        90793     140198  ...   13071   26005
1       139891          139891        86901     194391  ...   92897   10440
2       285726          285726        69947     390541  ...  298319   17417
3       165697          165697        62478     230250  ...  143785   10477
4      1332557         1332557        85268    2154287  ...  228098  200435

  twoPlusRaces hispanic foreignBorn commuteless10 commute10to29 commute30to59  \
0        38395    25756       28937         19823         84951         11257
1        27089    25649       19226         16968        103726         33353
2        43215    46456       43670         26348        186453         98851
3        41796    42884       29593         22448        113992         50669
4       746879  1179791      580970        161734        863670        519616

  commute60plus counttraveltime
0          3527          119558
1          2943          156990
2         17586          329238
3          6874          193983
4         96634         1641654

[5 rows x 26 columns]

In [47]:
urban_areas_df

,City,State,StateCode,CensusCode,Population,sameHouse1yr,transportCar,publicTransport,medianIncome,employment,...,black,asian,twoPlusRaces,hispanic,foreignBorn,commuteless10,commute10to29,commute30to59,commute60plus,counttraveltime
0,Anchorage,Alaska,AK,02305,245624,197589,94067,94067,90793,140198,...,13071,26005,38395,25756,28937,19823,84951,11257,3527,119558
1,Huntsville,Alabama,AL,40780,359389,301448,139891,139891,86901,194391,...,92897,10440,27089,25649,19226,16968,103726,33353,2943,156990
2,Birmingham,Alabama,AL,07786,778756,669858,285726,285726,69947,390541,...,298319,17417,43215,46456,43670,26348,186453,98851,17586,329238
3,Little Rock,Arkansas,AR,50392,467846,409973,165697,165697,62478,230250,...,143785,10477,41796,42884,29593,22448,113992,50669,6874,193983
4,Phoenix,Arizona,AZ,69184,4065338,3457480,1332557,1332557,85268,2154287,...,228098,200435,746879,1179791,580970,161734,863670,519616,96634,1641654
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Spokane,Washington,WA,83764,458988,386753,154895,154895,72510,235552,...,11341,12141,40180,35360,29352,21288,119410,39488,8274,188460
96,Madison,Wisconsin,WI,53200,460255,360680,166930,166930,79296,276768,...,28599,32171,42268,42107,46502,29698,140139,42079,5526,217442
97,Milwaukee,Wisconsin,WI,57466,1290221,1129593,462353,462353,72261,679838,...,241209,64674,145026,180944,118675,66110,338003,127520,22106,553739
98,Charleston,West Virginia,WV,15481,133045,121105,44132,44132,55653,63008,...,7192,2139,10112,2332,2730,7257,34833,6377,3250,51717
99,Cheyenne,Wyoming,WY,16237,81378,69092,32748,32748,66658,43406,...,1479,1323,10025,14522,2693,7334,26548,2521,1243,37646

In [49]:
youngAdults = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K200104_003E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        youngAdults.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        youngAdults.append(None)
urban_areas_df['youngAdults'] = youngAdults
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ...   asian  \
0        94067           94067        90793     140198  ...   26005
1       139891          139891        86901     194391  ...   10440
2       285726          285726        69947     390541  ...   17417
3       165697          165697        62478     230250  ...   10477
4      1332557         1332557        85268    2154287  ...  200435

  twoPlusRaces hispanic foreignBorn commuteless10 commute10to29 commute30to59  \
0        38395    25756       28937         19823         84951         11257
1        27089    25649       19226         16968        103726         33353
2        43215    46456       43670         26348        186453         98851
3        41796    42884       29593         22448        113992         50669
4       746879  1179791      580970        161734        863670        519616

  commute60plus counttraveltime youngAdults
0          3527          119558       24265
1          2943          156990       38406
2         17586          329238       70356
3          6874          193983       42507
4         96634         1641654      382220

[5 rows x 27 columns]

In [50]:
industryTotal = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202403_001E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        industryTotal.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        industryTotal.append(None)
urban_areas_df['industryTotal'] = industryTotal
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ... twoPlusRaces  \
0        94067           94067        90793     140198  ...        38395
1       139891          139891        86901     194391  ...        27089
2       285726          285726        69947     390541  ...        43215
3       165697          165697        62478     230250  ...        41796
4      1332557         1332557        85268    2154287  ...       746879

  hispanic foreignBorn commuteless10 commute10to29 commute30to59  \
0    25756       28937         19823         84951         11257
1    25649       19226         16968        103726         33353
2    46456       43670         26348        186453         98851
3    42884       29593         22448        113992         50669
4  1179791      580970        161734        863670        519616

  commute60plus counttraveltime youngAdults industryTotal
0          3527          119558       24265        126358
1          2943          156990       38406        187818
2         17586          329238       70356        376704
3          6874          193983       42507        219387
4         96634         1641654      382220       2071404

[5 rows x 28 columns]

In [52]:
naturalReasources = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202403_002E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        naturalReasources.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        naturalReasources.append(None)
urban_areas_df['naturalReasources'] = naturalReasources
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ... hispanic  \
0        94067           94067        90793     140198  ...    25756
1       139891          139891        86901     194391  ...    25649
2       285726          285726        69947     390541  ...    46456
3       165697          165697        62478     230250  ...    42884
4      1332557         1332557        85268    2154287  ...  1179791

  foreignBorn commuteless10 commute10to29 commute30to59 commute60plus  \
0       28937         19823         84951         11257          3527
1       19226         16968        103726         33353          2943
2       43670         26348        186453         98851         17586
3       29593         22448        113992         50669          6874
4      580970        161734        863670        519616         96634

  counttraveltime youngAdults industryTotal naturalReasources
0          119558       24265        126358              3789
1          156990       38406        187818               422
2          329238       70356        376704              1656
3          193983       42507        219387               899
4         1641654      382220       2071404             10010

[5 rows x 29 columns]

In [53]:
construction = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202403_003E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        construction.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        construction.append(None)
urban_areas_df['construction'] = construction
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ... foreignBorn  \
0        94067           94067        90793     140198  ...       28937
1       139891          139891        86901     194391  ...       19226
2       285726          285726        69947     390541  ...       43670
3       165697          165697        62478     230250  ...       29593
4      1332557         1332557        85268    2154287  ...      580970

  commuteless10 commute10to29 commute30to59 commute60plus counttraveltime  \
0         19823         84951         11257          3527          119558
1         16968        103726         33353          2943          156990
2         26348        186453         98851         17586          329238
3         22448        113992         50669          6874          193983
4        161734        863670        519616         96634         1641654

  youngAdults industryTotal naturalReasources construction
0       24265        126358              3789         6922
1       38406        187818               422         9436
2       70356        376704              1656        22118
3       42507        219387               899        14099
4      382220       2071404             10010       160566

[5 rows x 30 columns]

In [54]:
manufacturing = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202403_004E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        manufacturing.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        manufacturing.append(None)
urban_areas_df['manufacturing'] = manufacturing
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ... commuteless10  \
0        94067           94067        90793     140198  ...         19823
1       139891          139891        86901     194391  ...         16968
2       285726          285726        69947     390541  ...         26348
3       165697          165697        62478     230250  ...         22448
4      1332557         1332557        85268    2154287  ...        161734

  commute10to29 commute30to59 commute60plus counttraveltime youngAdults  \
0         84951         11257          3527          119558       24265
1        103726         33353          2943          156990       38406
2        186453         98851         17586          329238       70356
3        113992         50669          6874          193983       42507
4        863670        519616         96634         1641654      382220

  industryTotal naturalReasources construction manufacturing
0        126358              3789         6922          3341
1        187818               422         9436         28176
2        376704              1656        22118         31739
3        219387               899        14099         14868
4       2071404             10010       160566        166662

[5 rows x 31 columns]

In [55]:
wholesale = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202403_005E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        wholesale.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        wholesale.append(None)
urban_areas_df['wholesale'] = wholesale
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ... commute10to29  \
0        94067           94067        90793     140198  ...         84951
1       139891          139891        86901     194391  ...        103726
2       285726          285726        69947     390541  ...        186453
3       165697          165697        62478     230250  ...        113992
4      1332557         1332557        85268    2154287  ...        863670

  commute30to59 commute60plus counttraveltime youngAdults industryTotal  \
0         11257          3527          119558       24265        126358
1         33353          2943          156990       38406        187818
2         98851         17586          329238       70356        376704
3         50669          6874          193983       42507        219387
4        519616         96634         1641654      382220       2071404

  naturalReasources construction manufacturing wholesale
0              3789         6922          3341      2070
1               422         9436         28176      2449
2              1656        22118         31739      9531
3               899        14099         14868      3729
4             10010       160566        166662     41814

[5 rows x 32 columns]

In [56]:
retail = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202403_006E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        retail.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        retail.append(None)
urban_areas_df['retail'] = retail
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ... commute30to59  \
0        94067           94067        90793     140198  ...         11257
1       139891          139891        86901     194391  ...         33353
2       285726          285726        69947     390541  ...         98851
3       165697          165697        62478     230250  ...         50669
4      1332557         1332557        85268    2154287  ...        519616

  commute60plus counttraveltime youngAdults industryTotal naturalReasources  \
0          3527          119558       24265        126358              3789
1          2943          156990       38406        187818               422
2         17586          329238       70356        376704              1656
3          6874          193983       42507        219387               899
4         96634         1641654      382220       2071404             10010

  construction manufacturing wholesale  retail
0         6922          3341      2070   14124
1         9436         28176      2449   16388
2        22118         31739      9531   41383
3        14099         14868      3729   27992
4       160566        166662     41814  232870

[5 rows x 33 columns]

In [57]:
transportation = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202403_007E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        transportation.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        transportation.append(None)
urban_areas_df['transportation'] = transportation
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ... commute60plus  \
0        94067           94067        90793     140198  ...          3527
1       139891          139891        86901     194391  ...          2943
2       285726          285726        69947     390541  ...         17586
3       165697          165697        62478     230250  ...          6874
4      1332557         1332557        85268    2154287  ...         96634

  counttraveltime youngAdults industryTotal naturalReasources construction  \
0          119558       24265        126358              3789         6922
1          156990       38406        187818               422         9436
2          329238       70356        376704              1656        22118
3          193983       42507        219387               899        14099
4         1641654      382220       2071404             10010       160566

  manufacturing wholesale  retail transportation
0          3341      2070   14124          11776
1         28176      2449   16388           4734
2         31739      9531   41383          27141
3         14868      3729   27992          12528
4        166662     41814  232870         112709

[5 rows x 34 columns]

In [58]:
information = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202403_008E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        information.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        information.append(None)
urban_areas_df['information'] = information
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ... counttraveltime  \
0        94067           94067        90793     140198  ...          119558
1       139891          139891        86901     194391  ...          156990
2       285726          285726        69947     390541  ...          329238
3       165697          165697        62478     230250  ...          193983
4      1332557         1332557        85268    2154287  ...         1641654

  youngAdults industryTotal naturalReasources construction manufacturing  \
0       24265        126358              3789         6922          3341
1       38406        187818               422         9436         28176
2       70356        376704              1656        22118         31739
3       42507        219387               899        14099         14868
4      382220       2071404             10010       160566        166662

  wholesale  retail transportation information
0      2070   14124          11776        3024
1      2449   16388           4734        2248
2      9531   41383          27141        6491
3      3729   27992          12528        2908
4     41814  232870         112709       41710

[5 rows x 35 columns]

In [59]:
finance = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202403_009E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        finance.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        finance.append(None)
urban_areas_df['finance'] = finance
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ... youngAdults  \
0        94067           94067        90793     140198  ...       24265
1       139891          139891        86901     194391  ...       38406
2       285726          285726        69947     390541  ...       70356
3       165697          165697        62478     230250  ...       42507
4      1332557         1332557        85268    2154287  ...      382220

  industryTotal naturalReasources construction manufacturing wholesale  \
0        126358              3789         6922          3341      2070
1        187818               422         9436         28176      2449
2        376704              1656        22118         31739      9531
3        219387               899        14099         14868      3729
4       2071404             10010       160566        166662     41814

   retail transportation information finance
0   14124          11776        3024    3709
1   16388           4734        2248    7704
2   41383          27141        6491   31233
3   27992          12528        2908   19220
4  232870         112709       41710  219637

[5 rows x 36 columns]

In [60]:
scientific = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202403_010E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        scientific.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        scientific.append(None)
urban_areas_df['scientific'] = scientific
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ... industryTotal  \
0        94067           94067        90793     140198  ...        126358
1       139891          139891        86901     194391  ...        187818
2       285726          285726        69947     390541  ...        376704
3       165697          165697        62478     230250  ...        219387
4      1332557         1332557        85268    2154287  ...       2071404

  naturalReasources construction manufacturing wholesale  retail  \
0              3789         6922          3341      2070   14124
1               422         9436         28176      2449   16388
2              1656        22118         31739      9531   41383
3               899        14099         14868      3729   27992
4             10010       160566        166662     41814  232870

  transportation information finance scientific
0          11776        3024    3709      14216
1           4734        2248    7704      42120
2          27141        6491   31233      40708
3          12528        2908   19220      22442
4         112709       41710  219637     291139

[5 rows x 37 columns]

In [61]:
education = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202403_011E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        education.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        education.append(None)
urban_areas_df['education'] = education
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ... naturalReasources  \
0        94067           94067        90793     140198  ...              3789
1       139891          139891        86901     194391  ...               422
2       285726          285726        69947     390541  ...              1656
3       165697          165697        62478     230250  ...               899
4      1332557         1332557        85268    2154287  ...             10010

  construction manufacturing wholesale  retail transportation information  \
0         6922          3341      2070   14124          11776        3024
1         9436         28176      2449   16388           4734        2248
2        22118         31739      9531   41383          27141        6491
3        14099         14868      3729   27992          12528        2908
4       160566        166662     41814  232870         112709       41710

  finance scientific education
0    3709      14216     34501
1    7704      42120     34210
2   31233      40708     96108
3   19220      22442     58877
4  219637     291139    436087

[5 rows x 38 columns]

In [62]:
arts = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202403_012E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        arts.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        arts.append(None)
urban_areas_df['arts'] = arts
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ... construction  \
0        94067           94067        90793     140198  ...         6922
1       139891          139891        86901     194391  ...         9436
2       285726          285726        69947     390541  ...        22118
3       165697          165697        62478     230250  ...        14099
4      1332557         1332557        85268    2154287  ...       160566

  manufacturing wholesale  retail transportation information finance  \
0          3341      2070   14124          11776        3024    3709
1         28176      2449   16388           4734        2248    7704
2         31739      9531   41383          27141        6491   31233
3         14868      3729   27992          12528        2908   19220
4        166662     41814  232870         112709       41710  219637

  scientific education    arts
0      14216     34501   10952
1      42120     34210   14514
2      40708     96108   33318
3      22442     58877   16265
4     291139    436087  185389

[5 rows x 39 columns]

In [63]:
other = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202403_013E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        other.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        arts.append(None)
urban_areas_df['other'] = other
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ... manufacturing  \
0        94067           94067        90793     140198  ...          3341
1       139891          139891        86901     194391  ...         28176
2       285726          285726        69947     390541  ...         31739
3       165697          165697        62478     230250  ...         14868
4      1332557         1332557        85268    2154287  ...        166662

  wholesale  retail transportation information finance scientific education  \
0      2070   14124          11776        3024    3709      14216     34501
1      2449   16388           4734        2248    7704      42120     34210
2      9531   41383          27141        6491   31233      40708     96108
3      3729   27992          12528        2908   19220      22442     58877
4     41814  232870         112709       41710  219637     291139    436087

     arts  other
0   10952   5221
1   14514   9791
2   33318  19937
3   16265  10848
4  185389  95447

[5 rows x 40 columns]

In [64]:
publicAdmin = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202403_014E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        publicAdmin.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        publicAdmin.append(None)
urban_areas_df['publicAdmin'] = publicAdmin
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ... wholesale  retail  \
0        94067           94067        90793     140198  ...      2070   14124
1       139891          139891        86901     194391  ...      2449   16388
2       285726          285726        69947     390541  ...      9531   41383
3       165697          165697        62478     230250  ...      3729   27992
4      1332557         1332557        85268    2154287  ...     41814  232870

  transportation information finance scientific education    arts  other  \
0          11776        3024    3709      14216     34501   10952   5221
1           4734        2248    7704      42120     34210   14514   9791
2          27141        6491   31233      40708     96108   33318  19937
3          12528        2908   19220      22442     58877   16265  10848
4         112709       41710  219637     291139    436087  185389  95447

  publicAdmin
0       12713
1       15626
2       15341
3       14712
4       77364

[5 rows x 41 columns]

In [65]:
housingTypeTotal = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202504_001E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        housingTypeTotal.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        housingTypeTotal.append(None)
urban_areas_df['housingTypeTotal'] = housingTypeTotal
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ...  retail  \
0        94067           94067        90793     140198  ...   14124
1       139891          139891        86901     194391  ...   16388
2       285726          285726        69947     390541  ...   41383
3       165697          165697        62478     230250  ...   27992
4      1332557         1332557        85268    2154287  ...  232870

  transportation information finance scientific education    arts  other  \
0          11776        3024    3709      14216     34501   10952   5221
1           4734        2248    7704      42120     34210   14514   9791
2          27141        6491   31233      40708     96108   33318  19937
3          12528        2908   19220      22442     58877   16265  10848
4         112709       41710  219637     291139    436087  185389  95447

  publicAdmin housingTypeTotal
0       12713           104647
1       15626           158482
2       15341           357945
3       14712           220197
4       77364          1735003

[5 rows x 42 columns]

In [66]:
units1 = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202504_002E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        units1.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        units1.append(None)
urban_areas_df['units1'] = units1
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ... transportation  \
0        94067           94067        90793     140198  ...          11776
1       139891          139891        86901     194391  ...           4734
2       285726          285726        69947     390541  ...          27141
3       165697          165697        62478     230250  ...          12528
4      1332557         1332557        85268    2154287  ...         112709

  information finance scientific education    arts  other publicAdmin  \
0        3024    3709      14216     34501   10952   5221       12713
1        2248    7704      42120     34210   14514   9791       15626
2        6491   31233      40708     96108   33318  19937       15341
3        2908   19220      22442     58877   16265  10848       14712
4       41710  219637     291139    436087  185389  95447       77364

  housingTypeTotal   units1
0           104647    57877
1           158482   112918
2           357945   260860
3           220197   144908
4          1735003  1180732

[5 rows x 43 columns]

In [67]:
units2 = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202504_003E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        units2.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        units2.append(None)
urban_areas_df['units2'] = units2
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ... information  \
0        94067           94067        90793     140198  ...        3024
1       139891          139891        86901     194391  ...        2248
2       285726          285726        69947     390541  ...        6491
3       165697          165697        62478     230250  ...        2908
4      1332557         1332557        85268    2154287  ...       41710

  finance scientific education    arts  other publicAdmin housingTypeTotal  \
0    3709      14216     34501   10952   5221       12713           104647
1    7704      42120     34210   14514   9791       15626           158482
2   31233      40708     96108   33318  19937       15341           357945
3   19220      22442     58877   16265  10848       14712           220197
4  219637     291139    436087  185389  95447       77364          1735003

    units1 units2
0    57877   6304
1   112918   2072
2   260860   5055
3   144908   5727
4  1180732  19372

[5 rows x 44 columns]

In [68]:
units3or4 = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202504_004E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        units3or4.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        units3or4.append(None)
urban_areas_df['units3or4'] = units3or4
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ... finance  \
0        94067           94067        90793     140198  ...    3709
1       139891          139891        86901     194391  ...    7704
2       285726          285726        69947     390541  ...   31233
3       165697          165697        62478     230250  ...   19220
4      1332557         1332557        85268    2154287  ...  219637

  scientific education    arts  other publicAdmin housingTypeTotal   units1  \
0      14216     34501   10952   5221       12713           104647    57877
1      42120     34210   14514   9791       15626           158482   112918
2      40708     96108   33318  19937       15341           357945   260860
3      22442     58877   16265  10848       14712           220197   144908
4     291139    436087  185389  95447       77364          1735003  1180732

  units2 units3or4
0   6304     10931
1   2072      7763
2   5055      9964
3   5727      7903
4  19372     72534

[5 rows x 45 columns]

In [69]:
units5or9 = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202504_005E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        units5or9.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        units5or9.append(None)
urban_areas_df['units5or9'] = units5or9
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ... scientific  \
0        94067           94067        90793     140198  ...      14216
1       139891          139891        86901     194391  ...      42120
2       285726          285726        69947     390541  ...      40708
3       165697          165697        62478     230250  ...      22442
4      1332557         1332557        85268    2154287  ...     291139

  education    arts  other publicAdmin housingTypeTotal   units1 units2  \
0     34501   10952   5221       12713           104647    57877   6304
1     34210   14514   9791       15626           158482   112918   2072
2     96108   33318  19937       15341           357945   260860   5055
3     58877   16265  10848       14712           220197   144908   5727
4    436087  185389  95447       77364          1735003  1180732  19372

  units3or4 units5or9
0     10931      7122
1      7763     11384
2      9964     21816
3      7903     12178
4     72534     72193

[5 rows x 46 columns]

In [70]:
units10plus = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202504_006E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        units10plus.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        units10plus.append(None)
urban_areas_df['units10plus'] = units10plus
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ... education    arts  \
0        94067           94067        90793     140198  ...     34501   10952
1       139891          139891        86901     194391  ...     34210   14514
2       285726          285726        69947     390541  ...     96108   33318
3       165697          165697        62478     230250  ...     58877   16265
4      1332557         1332557        85268    2154287  ...    436087  185389

   other publicAdmin housingTypeTotal   units1 units2 units3or4 units5or9  \
0   5221       12713           104647    57877   6304     10931      7122
1   9791       15626           158482   112918   2072      7763     11384
2  19937       15341           357945   260860   5055      9964     21816
3  10848       14712           220197   144908   5727      7903     12178
4  95447       77364          1735003  1180732  19372     72534     72193

  units10plus
0       17917
1       22217
2       52510
3       38124
4      303602

[5 rows x 47 columns]

In [71]:
otherType = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K202504_007E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200: 
        data = response.json()
        value = data[1][1] 
        otherType.append(value) 
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        otherType.append(None)
urban_areas_df['otherType'] = otherType
urban_areas_df.to_csv('../datasets/capstoneData.csv', index=False)
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport medianIncome employment  ...    arts  other  \
0        94067           94067        90793     140198  ...   10952   5221
1       139891          139891        86901     194391  ...   14514   9791
2       285726          285726        69947     390541  ...   33318  19937
3       165697          165697        62478     230250  ...   16265  10848
4      1332557         1332557        85268    2154287  ...  185389  95447

  publicAdmin housingTypeTotal   units1 units2 units3or4 units5or9  \
0       12713           104647    57877   6304     10931      7122
1       15626           158482   112918   2072      7763     11384
2       15341           357945   260860   5055      9964     21816
3       14712           220197   144908   5727      7903     12178
4       77364          1735003  1180732  19372     72534     72193

  units10plus otherType
0       17917      4496
1       22217      2128
2       52510      7740
3       38124     11357
4      303602     86570

[5 rows x 48 columns]