In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../datasets/cleanedData.csv', dtype={'CensusCode': str})
df

,City,State,StateCode,CensusCode,City_State,Latitude,Longitude,Population,sameHouse1yr,transport,...,total_nightlife,museums_pp,total_museums,max_avg_high,max_avg_low,mean_diff,international_airport,amtrak,crime_rate,pop_density
0,Birmingham,Alabama,AL,07786,"Birmingham, Alabama",33.520682,-86.802433,778756,669858,372066,...,267,0.000048,37,98.6,13.4,85.2,1,1,59.78,1365.37
1,Huntsville,Alabama,AL,40780,"Huntsville, Alabama",34.729847,-86.585901,359389,301448,184752,...,134,0.000067,24,99.2,11.7,87.5,1,1,18.00,1006.00
2,Anchorage,Alaska,AK,02305,"Anchorage, Alaska",61.216313,-149.894852,245624,197589,131745,...,114,0.000155,38,77.7,-13.2,90.9,1,0,38.97,170.60
3,Phoenix,Arizona,AZ,69184,"Phoenix, Arizona",33.448437,-112.074141,4065338,3457480,2042388,...,479,0.000020,80,115.7,33.8,81.9,1,1,37.30,3102.92
4,Tucson,Arizona,AZ,88732,"Tucson, Arizona",32.222876,-110.974847,879871,728456,423275,...,260,0.000075,66,110.7,25.6,85.1,1,1,41.56,2251.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Spokane,Washington,WA,83764,"Spokane, Washington",47.657193,-117.423510,458988,386753,220830,...,194,0.000026,12,99.1,-3.0,102.1,1,1,63.84,3300.00
96,Charleston,West Virginia,WV,15481,"Charleston, West Virginia",38.350600,-81.633281,133045,121105,57994,...,61,0.000113,15,95.3,2.3,93.0,0,1,23.07,1491.83
97,Madison,Wisconsin,WI,53200,"Madison, Wisconsin",43.074761,-89.383761,460255,360680,266374,...,294,0.000052,24,94.1,-13.9,108.0,0,1,27.66,3391.00
98,Milwaukee,Wisconsin,WI,57466,"Milwaukee, Wisconsin",43.038648,-87.909075,1290221,1129593,648183,...,679,0.000061,79,95.0,-7.9,102.9,1,1,51.06,6000.00
99,Cheyenne,Wyoming,WY,16237,"Cheyenne, Wyoming",41.139981,-104.820246,81378,69092,41224,...,39,0.000147,12,95.2,-13.0,108.2,0,1,40.57,1991.23

In [15]:
df.drop(columns=['transport', 'transportCar','publicTransport','walked','rent','own','housingTenure','white','black','asian', 'twoPlusRaces','hispanic','foreignBorn','commuteless10','commute10to29','commute30to59','commute60plus','counttraveltime','youngAdults','industryTotal','naturalReasources','construction', 'manufacturing','sales','wholesale','retail','transportation','information','finance','scientific','education','other','publicAdmin','housingTypeTotal','units1','units2','units3or4','units5or9','units10plus','otherType','total_bars','total_restaurants','total_parks','total_activities','total_nightlife','total_museums'], inplace=True)

In [16]:
df

,City,State,StateCode,CensusCode,City_State,Latitude,Longitude,Population,sameHouse1yr,car_percent,...,activities_pp,nightlife_pp,museums_pp,max_avg_high,max_avg_low,mean_diff,international_airport,amtrak,crime_rate,pop_density
0,Birmingham,Alabama,AL,07786,"Birmingham, Alabama",33.520682,-86.802433,778756,669858,0.767944,...,0.000841,0.000343,0.000048,98.6,13.4,85.2,1,1,59.78,1365.37
1,Huntsville,Alabama,AL,40780,"Huntsville, Alabama",34.729847,-86.585901,359389,301448,0.757183,...,0.001049,0.000373,0.000067,99.2,11.7,87.5,1,1,18.00,1006.00
2,Anchorage,Alaska,AK,02305,"Anchorage, Alaska",61.216313,-149.894852,245624,197589,0.714008,...,0.003074,0.000464,0.000155,77.7,-13.2,90.9,1,0,38.97,170.60
3,Phoenix,Arizona,AZ,69184,"Phoenix, Arizona",33.448437,-112.074141,4065338,3457480,0.652450,...,0.000467,0.000118,0.000020,115.7,33.8,81.9,1,1,37.30,3102.92
4,Tucson,Arizona,AZ,88732,"Tucson, Arizona",32.222876,-110.974847,879871,728456,0.700604,...,0.001250,0.000295,0.000075,110.7,25.6,85.1,1,1,41.56,2251.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Spokane,Washington,WA,83764,"Spokane, Washington",47.657193,-117.423510,458988,386753,0.701422,...,0.001113,0.000423,0.000026,99.1,-3.0,102.1,1,1,63.84,3300.00
96,Charleston,West Virginia,WV,15481,"Charleston, West Virginia",38.350600,-81.633281,133045,121105,0.760975,...,0.001428,0.000458,0.000113,95.3,2.3,93.0,0,1,23.07,1491.83
97,Madison,Wisconsin,WI,53200,"Madison, Wisconsin",43.074761,-89.383761,460255,360680,0.626675,...,0.002042,0.000639,0.000052,94.1,-13.9,108.0,0,1,27.66,3391.00
98,Milwaukee,Wisconsin,WI,57466,"Milwaukee, Wisconsin",43.038648,-87.909075,1290221,1129593,0.713306,...,0.000853,0.000526,0.000061,95.0,-7.9,102.9,1,1,51.06,6000.00
99,Cheyenne,Wyoming,WY,16237,"Cheyenne, Wyoming",41.139981,-104.820246,81378,69092,0.794392,...,0.001954,0.000479,0.000147,95.2,-13.0,108.2,0,1,40.57,1991.23

In [17]:
cities = df['City_State']

In [18]:
cities

0           Birmingham, Alabama
1           Huntsville, Alabama
2             Anchorage, Alaska
3              Phoenix, Arizona
4               Tucson, Arizona
                ...
95          Spokane, Washington
96    Charleston, West Virginia
97           Madison, Wisconsin
98         Milwaukee, Wisconsin
99            Cheyenne, Wyoming
Name: City_State, Length: 100, dtype: object

In [19]:
with open('cities.txt', 'w') as file:
    for city in cities:
        file.write(f"{city}\n")

In [3]:
first_row = df.iloc[0]

# Convert the row to a string
first_row_str = first_row.to_string()

# Write the string to a text file
with open('first_row.txt', 'w') as f:
    f.write(first_row_str)

In [21]:
df.drop(columns=['arts'], inplace=True)

In [22]:
df.to_csv('../datasets/algorithmData.csv', index=False)