In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../datasets/cleanedData.csv', dtype={'CensusCode': str})

In [4]:
df

,City,State,StateCode,CensusCode,City_State,Latitude,Longitude,Population,sameHouse1yr,transport,...,activities_pp,total_activities,nightlife_pp,total_nightlife,museums_pp,total_museums,max_avg_high,max_avg_low,mean_diff,International_airport
0,Albuquerque,New Mexico,NM,01171,"Albuquerque, New Mexico",35.084103,-106.650985,767499,664666,378339,...,0.001433,1100,0.000289,222,0.000074,57,100.8,10.9,89.9,1
1,Anchorage,Alaska,AK,02305,"Anchorage, Alaska",61.216313,-149.894852,245624,197589,131745,...,0.003074,755,0.000464,114,0.000155,38,77.7,-13.2,90.9,1
2,Ann Arbor,Michigan,MI,02602,"Ann Arbor, Michigan",42.281372,-83.748462,314647,240990,164981,...,0.002155,678,0.000394,124,0.000079,25,94.3,-5.6,99.9,0
3,Athens,Georgia,GA,03763,"Athens, Georgia",33.959768,-83.376398,147368,111020,75680,...,0.002036,300,0.000713,105,0.000075,11,100.0,15.0,85.0,0
4,Atlanta,Georgia,GA,03817,"Atlanta, Georgia",33.748992,-84.390264,5211164,4492313,2682472,...,0.000499,2600,0.000150,783,0.000026,134,97.3,15.2,82.1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Tusla,Oklahoma,OK,88948,"Tusla, Oklahoma",36.391142,-95.044788,740620,626717,354745,...,0.000027,20,0.000892,661,0.000205,152,103.9,4.6,99.3,1
96,Virginia Beach,Virginia,VA,90892,"Virginia Beach, Virginia",36.849658,-75.976075,1431821,1204716,734506,...,0.000413,591,0.000093,133,0.000013,19,99.3,16.8,82.5,0
97,Washington,District of Columbia,DC,92242,"Washington, District of Columbia",38.895037,-77.036543,5146120,4377744,2801563,...,0.000816,4200,0.000253,1300,0.000077,398,99.1,12.3,86.8,1
98,West Palm Beach,Florida,FL,22612,"West Palm Beach, Florida",26.715364,-80.053294,429526,371916,177278,...,0.003492,1500,0.000556,239,0.000130,56,95.4,37.7,57.7,1
99,Wichita,Kansas,KS,95077,"Wichita, Kansas",37.692236,-97.337545,501760,422397,248069,...,0.000923,463,0.000397,199,0.000054,27,104.9,1.0,103.9,0

In [5]:
df.drop(columns=['transport', 'transportCar','publicTransport','walked','rent','own','housingTenure','white','black'], inplace=True)

In [6]:
df

,City,State,StateCode,CensusCode,City_State,Latitude,Longitude,Population,sameHouse1yr,car_percent,...,activities_pp,total_activities,nightlife_pp,total_nightlife,museums_pp,total_museums,max_avg_high,max_avg_low,mean_diff,International_airport
0,Albuquerque,New Mexico,NM,01171,"Albuquerque, New Mexico",35.084103,-106.650985,767499,664666,0.725524,...,0.001433,1100,0.000289,222,0.000074,57,100.8,10.9,89.9,1
1,Anchorage,Alaska,AK,02305,"Anchorage, Alaska",61.216313,-149.894852,245624,197589,0.714008,...,0.003074,755,0.000464,114,0.000155,38,77.7,-13.2,90.9,1
2,Ann Arbor,Michigan,MI,02602,"Ann Arbor, Michigan",42.281372,-83.748462,314647,240990,0.615968,...,0.002155,678,0.000394,124,0.000079,25,94.3,-5.6,99.9,0
3,Athens,Georgia,GA,03763,"Athens, Georgia",33.959768,-83.376398,147368,111020,0.760082,...,0.002036,300,0.000713,105,0.000075,11,100.0,15.0,85.0,0
4,Atlanta,Georgia,GA,03817,"Atlanta, Georgia",33.748992,-84.390264,5211164,4492313,0.654892,...,0.000499,2600,0.000150,783,0.000026,134,97.3,15.2,82.1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Tusla,Oklahoma,OK,88948,"Tusla, Oklahoma",36.391142,-95.044788,740620,626717,0.756228,...,0.000027,20,0.000892,661,0.000205,152,103.9,4.6,99.3,1
96,Virginia Beach,Virginia,VA,90892,"Virginia Beach, Virginia",36.849658,-75.976075,1431821,1204716,0.736415,...,0.000413,591,0.000093,133,0.000013,19,99.3,16.8,82.5,0
97,Washington,District of Columbia,DC,92242,"Washington, District of Columbia",38.895037,-77.036543,5146120,4377744,0.533772,...,0.000816,4200,0.000253,1300,0.000077,398,99.1,12.3,86.8,1
98,West Palm Beach,Florida,FL,22612,"West Palm Beach, Florida",26.715364,-80.053294,429526,371916,0.711859,...,0.003492,1500,0.000556,239,0.000130,56,95.4,37.7,57.7,1
99,Wichita,Kansas,KS,95077,"Wichita, Kansas",37.692236,-97.337545,501760,422397,0.804034,...,0.000923,463,0.000397,199,0.000054,27,104.9,1.0,103.9,0

In [7]:
df.drop(columns=['asian', 'twoPlusRaces','hispanic','foreignBorn','commuteless10','commute10to29','commute30to59','commute60plus','counttraveltime','youngAdults','industryTotal','naturalReasources','construction', 'manufacturing','sales','wholesale','retail','transportation','information','finance','scientific','education','other','publicAdmin','housingTypeTotal','units1','units2','units3or4','units5or9','units10plus','otherType','total_bars','total_restaurants','total_parks','total_activities','total_nightlife','total_museums'], inplace=True)

In [8]:
df

,City,State,StateCode,CensusCode,City_State,Latitude,Longitude,Population,sameHouse1yr,car_percent,...,bars_pp,restaurants_pp,parks_pp,activities_pp,nightlife_pp,museums_pp,max_avg_high,max_avg_low,mean_diff,International_airport
0,Albuquerque,New Mexico,NM,01171,"Albuquerque, New Mexico",35.084103,-106.650985,767499,664666,0.725524,...,0.000280,0.001954,0.000185,0.001433,0.000289,0.000074,100.8,10.9,89.9,1
1,Anchorage,Alaska,AK,02305,"Anchorage, Alaska",61.216313,-149.894852,245624,197589,0.714008,...,0.000440,0.002789,0.000489,0.003074,0.000464,0.000155,77.7,-13.2,90.9,1
2,Ann Arbor,Michigan,MI,02602,"Ann Arbor, Michigan",42.281372,-83.748462,314647,240990,0.615968,...,0.000362,0.001904,0.000232,0.002155,0.000394,0.000079,94.3,-5.6,99.9,0
3,Athens,Georgia,GA,03763,"Athens, Georgia",33.959768,-83.376398,147368,111020,0.760082,...,0.000706,0.002803,0.000142,0.002036,0.000713,0.000075,100.0,15.0,85.0,0
4,Atlanta,Georgia,GA,03817,"Atlanta, Georgia",33.748992,-84.390264,5211164,4492313,0.654892,...,0.000134,0.000518,0.000040,0.000499,0.000150,0.000026,97.3,15.2,82.1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Tusla,Oklahoma,OK,88948,"Tusla, Oklahoma",36.391142,-95.044788,740620,626717,0.756228,...,0.001041,0.000016,0.000262,0.000027,0.000892,0.000205,103.9,4.6,99.3,1
96,Virginia Beach,Virginia,VA,90892,"Virginia Beach, Virginia",36.849658,-75.976075,1431821,1204716,0.736415,...,0.000092,0.000404,0.000041,0.000413,0.000093,0.000013,99.3,16.8,82.5,0
97,Washington,District of Columbia,DC,92242,"Washington, District of Columbia",38.895037,-77.036543,5146120,4377744,0.533772,...,0.000233,0.000952,0.000098,0.000816,0.000253,0.000077,99.1,12.3,86.8,1
98,West Palm Beach,Florida,FL,22612,"West Palm Beach, Florida",26.715364,-80.053294,429526,371916,0.711859,...,0.000489,0.002561,0.000265,0.003492,0.000556,0.000130,95.4,37.7,57.7,1
99,Wichita,Kansas,KS,95077,"Wichita, Kansas",37.692236,-97.337545,501760,422397,0.804034,...,0.000331,0.001690,0.000060,0.000923,0.000397,0.000054,104.9,1.0,103.9,0

In [9]:
cities = df['City_State']

In [10]:
cities

0              Albuquerque, New Mexico
1                    Anchorage, Alaska
2                  Ann Arbor, Michigan
3                      Athens, Georgia
4                     Atlanta, Georgia
                    ...
95                     Tusla, Oklahoma
96            Virginia Beach, Virginia
97    Washington, District of Columbia
98            West Palm Beach, Florida
99                     Wichita, Kansas
Name: City_State, Length: 100, dtype: object

In [11]:
with open('cities.txt', 'w') as file:
    for city in cities:
        file.write(f"{city}\n")